# Gradle build output and local cache.
.gradle/
build/

# macOS Finder metadata.
.DS_Store

# IDE-related files
.idea
*.iml
*.ipr
*.iws
.project
.settings
.vscode

# Ballerina related ignores
Ballerina.lock
velocity.log*

# Dependencies.toml of examples and load-tests
examples/**/Dependencies.toml
load-tests/**/Dependencies.toml
